body {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.not-focused{
    opacity: 0;
}

body>* {
border: 2px solid rgb(95, 53, 210);
}