.topbar {
  display: flex;
  width: 100%;

  nav {
    margin-left: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: var(--font-size-medium);

    ul {
      display: flex;
      gap: 1rem;
      align-items: stretch;

      button {
        display: flex;
        font-size: var(--font-size-medium);
        align-items: center;
        height: 100%;
        padding: 0 0.35rem;
      }

      a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 0.35rem;
      }
    }
  }
}
