.words_container {
	font-size: var(--font-size-bigger);
	overflow-wrap: break-word;
	display: block;
	width: 100%;

	input {
		position: absolute;
		right: 0;
		top: 0;
		cursor: none;
		opacity: 0;
	}

	.para {
		line-height: 2rem;
	}

	word {
		display: inline-block;
		margin: 0.5rem;
		border-bottom: 2px solid transparent;

		&.marked {
			border-bottom-color: red;
		}
	}

	letter {
		position: relative;

		&.correct {
			color: var(--color-correct);
		}

		&.incorrect {
			color: var(--color-wrong);
		}
	}
}
