body {
	max-width: 1450px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	& ::selection {
		background-color: var(--color-secondary);
		color: var(--color-bg);
	}
}

.not-focused {
	opacity: 0;
}
